<h4>Number of devices: <%= @devices.length %></h4>
<%= turbo_stream_from "dash_#{current_user.id}" %>

<% if @devices.length > 0 %>

  <div>
      Activity | Name
  </div>

  <% @devices.each do |d| %>
    <%= render 'devices/device', device: d %>
  <% end %>

<% end %>